@charset "UTF-8";

/* Estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}
html {
    font-family: sans-serif;
    font-size: 1em;
}
header{
    background-color: rgb(114, 100, 100);
}
header > h1{
    text-align: center;
}
menu, ul{
    list-style-type: none;
    background-color: rgba(4, 5, 4, 0.623);

}
menu li{
    display: inline-block;
    color: white;
    padding: 10px;
    background-color: black;
}
article{
    display: block;
    margin: auto;
    width: 300px;
}